#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DESTDIR=$(CURDIR)/debian/u-boot-cubox-i

%:
	dh $@ --parallel

override_dh_auto_configure:
	make mx6_cubox-i_config

override_dh_auto_install:
	install -v -D -m 0644 SPL $(DESTDIR)/boot/cubox-i-spl.bin
	install -v -D -m 0644 u-boot.img $(DESTDIR)/boot/u-boot.img
